
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Class1.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="@Url.Action("Ekle","Haber")" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-user fa-5x"></i><br />
                    Haber Ekle <br>
                </a>
                <a href="@Url.Action("Ekle","Kategori")" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-user fa-5x"></i><br />
                    Kategori Ekle <br>
                </a>
                <a href="@Url.Action("Ekle","Kullanici")" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-user fa-5x"></i><br />
                    Kullanıcı Ekle <br>
                </a>
               
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="@Url.Action("Index","Haber")" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-user fa-5x"></i><br />
                    Haber Listele <br>
                </a>
                <a href="@Url.Action("Index","Kategori")" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-user fa-5x"></i><br />
                    Kategori Listele<br>
                </a>
                <a href="@Url.Action("Kullanici","Kullanici")" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-user fa-5x"></i><br />
                    Kullanıcı Lİstele <br>
                </a>

            </p>
        </div>
    </div>


    @*<div class="row">
        <div class="col-lg-12">
            <p>
                <a href="#" class="btn btn-sq btn-primary">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Primary <br>Button
                </a>
                <a href="#" class="btn btn-sq btn-success">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Success <br>Button
                </a>
                <a href="#" class="btn btn-sq btn-info">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Info <br>Button
                </a>
                <a href="#" class="btn btn-sq btn-warning">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Warning <br>Button
                </a>
                <a href="#" class="btn btn-sq btn-danger">
                    <i class="fa fa-user fa-5x"></i><br />
                    Demo Danger <br>Button
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="#" class="btn btn-sq-sm btn-primary">
                    <i class="fa fa-user fa-2x"></i><br />
                    Demo
                </a>
                <a href="#" class="btn btn-sq-sm btn-success">
                    <i class="fa fa-user fa-2x"></i><br />
                    Demo
                </a>
                <a href="#" class="btn btn-sq-sm btn-info">
                    <i class="fa fa-user fa-2x"></i><br />
                    Demo
                </a>
                <a href="#" class="btn btn-sq-sm btn-warning">
                    <i class="fa fa-user fa-2x"></i><br />
                    Demo
                </a>
                <a href="#" class="btn btn-sq-sm btn-danger">
                    <i class="fa fa-user fa-2x"></i><br />
                    Demo
                </a>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="#" class="btn btn-sq-xs btn-primary">
                    <i class="fa fa-user fa-1x"></i><br />
                </a>
                <a href="#" class="btn btn-sq-xs btn-success">
                    <i class="fa fa-user fa-1x"></i><br />
                </a>
                <a href="#" class="btn btn-sq-xs btn-info">
                    <i class="fa fa-user fa-1x"></i><br />
                </a>
                <a href="#" class="btn btn-sq-xs btn-warning">
                    <i class="fa fa-user fa-1x"></i><br />
                </a>
                <a href="#" class="btn btn-sq-xs btn-danger">
                    <i class="fa fa-user fa-1x"></i><br />
                </a>
            </p>
        </div>
    </div>*@

</div>

